/*FONDO*/
body {background-color: #fcf6fe;}
/*MENÚ*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ecd1fa;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color:  #300845;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #ce7ff1;
  }
 
  /*LINKS*/

  
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  
  a:link {
    color: #300845;
  }
  
  a:visited {
    color: #300845;
  }
  
  a:focus {
    border-bottom: 1px solid;
    background: #ecd1fa;
  }
  
  a:hover {
    border-bottom: 1px solid;
    background: #ce7ff1;
  }
  
  a:active {
    background: #ce7ff1;
    color: #ce7ff1;
  }

  .contenedor{

    display: flex;
    justify-self: right;
    align-items: center;
  
  }

  .txt{ 
    margin-right:50px;
    word-spacing: 10px;
    margin-right: 30px;
    margin-top: 65px;
    width:350px ;
    height:250px; 
    border-radius: 8px;
   
    

   
    
  }
  
  
  .imagen{
    width: 100%;
    max-width: 350px;
    height: 250px;
    margin-right: 30px;
    margin-top: 65px; 
    border-radius: 8px;
  }

  .texto_nuevo{

    text-align: center;
}

.img{
    
    width:350px ;
    height:250px; 
    border-radius: 8px;
    align-items: left;

}

.texto{
  text-align: center;
}

.im{
  width: 30px;
    height: 30px; 
    border-radius: 8px;
    align-items: left;


}

.tem{
  margin-top: 50px;
  margin-right: -110px;



}

.tv{
font-size: 25px;
}

.tam{
  width: 100%;
  max-width: 500px;
  float:right;
}

.im{
  margin-right: 30px;
  margin-top: 65px;
  width:350px ;
  height:250px; 
  border-radius: 8px;
}

.margen{
  margin-left: 150px;
}